body{
    margin: 0px;
}

.titulo{
    text-align: center;
    padding-top: 40px;
}

.container-md img{
    height: 350px;
    
}

.botoes{
    padding-top: 30px;
    text-align: center;
}

.container-md{
    background-color: beige;
    height: 100%;
    padding-bottom: 100px;

}

#carouselControls {
    margin: 0 auto 0 auto;
    width: 80%;
    height: 80%;
}


footer{
    text-align: center;
}
